.container{
    width: 620px;    
    background-color: var(--dark-700);
    color: var(--white);
    font-size: 1.2rem;
}

.container h2{
    margin: 1rem 0;

}

.table{
    font-size: 1.3rem;
    color: var(--green-900);
}

.containerItem{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    
    span{
        margin-top: .5rem;
    }

    strong{
        color: var(--green-900);
    }
}

.description{
    margin-top: .5rem;
    //se chegar a descrição no final do modal, quebre pra linha de baixo
    word-break: break-all;
}   

.buttonOrder{
    margin-top: 1.5rem;
    background-color: rgba(0,0,0,40%);
    border: 0;
    padding: .5rem 1rem;
    border-radius: .4rem;
    color: var(--red-900);
}



@media screen and (max-width: 700px ){
    .container{
        width: 400px;
    }
}

@media screen and (max-width: 550px ){
    .container{
        width: 330px;
    }
}